 <!DOCTYPE html>
 <html lang="en">

 <head>
   <meta charset="UTF-8">
   <title>vue.js change image</title>
   <meta name="description" content="vue.js change image">
   <link rel="stylesheet" href="./assets/css/style.css">
   <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
 </head>

 <body>
   <div id="app">
     <header id="header">
       <ul id="menu">
         <li v-for="list in menuList">
           <a v-bind:href="list.ahref">{{list.menu}}</a>
         </li>
       </ul>
     </header>
     <footer id="footer">
       <div class="inner">
         <h3><a href="#">logo</a></h3>
         <ul id="f_menu">
           <li v-for="(list, index) in fMenuList">
             <a v-if="index == 0" v-bind:href="list.ahref" v-bind:class="{on:active}">{{list.menu}}</a>
             <a v-else v-bind:href="list.ahref">{{list.menu}}</a>
           </li>
         </ul>
       </div>
     </footer>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script>
     let app = new Vue({
       el: '#app',
       data: {
         menuList: [
          {menu: 'company',ahref:'http://naver.com'},
          {menu:'product',ahref:'http://daum.net'},
          {menu:'gallery',ahref:'http://facebook.com'},
          {menu:'location',ahref:'http://instagram.com'}
        ],
        fMenuList: [
        {menu: 'company',ahref:'http://naver.com'},
        {menu:'product',ahref:'http://daum.net'},
        {menu:'gallery',ahref:'http://facebook.com'},
        {menu:'location',ahref:'http://instagram.com'},
        {menu:'faq',ahref:'http://instagram.com'},
        {menu:'location',ahref:'http://instagram.com'}
        ]
       }
     });
   </script>
 </body>

 </html>
